@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
   margin: 0 0;
   padding: 0 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   background-color: #E8F2FF;
}

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 120px;
}

.FormContainer {
   flex-basis: 350px;
   height: 410px;
   background-color: #f1f1f1;
   border: 1px solid #d1d9e6;
   border-radius: 10px;
   /*box-shadow: 3px 6px 6px #a5a5a5;*/
   box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px white;

}

.PromptContainer {
   flex-basis: 465px;
   height: 560px;
   background-color: #f1f1f1;
   border: 1px solid #d1d9e6;
   border-radius: 10px;
   /*box-shadow: 3px 6px 6px #a5a5a5;*/
   box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px white;
}

.form {
   width: 300px;
   margin: auto;
}

.formInput {
   outline: 0;
   display: block;
   width: 220px;
   height: 40px;
   margin: auto;
   font-size: 25px;
   border: none;
   border-bottom: 2px solid black;
   color: black;
   background-color: #f1f1f1;
}

#emailInput {
   margin-top: 12px;
}

.formButton {
   outline: 0;
   display: block;
   width: 191px;
   margin-left: 55px;
   margin-top: 26px;
   padding: 10px 25px;
   font-size: 33px;
   color: white;
   background-color: #2A52BE;
   opacity: 79%;
   border: 2px solid rgba(42,82,190,1);
   border-radius: 10px;
   box-shadow: 6px 6px 10px #172c66, -4px -4px 5px rgba(42,82,190,0.4);
}

.formButton:hover {
   scale: 1.07;
   box-shadow: 8px 8px 14px #172c66;
}

.auth_link {
   outline: 0;
   display: inline-block;
   text-align: center;
   width: 270px;
   margin-left: 100px;
   margin-top: 80px;
   padding: 10px 25px;
   font-size: 45px;
   color: white;
   text-decoration: none;
   background-color: #2A52BE;
   opacity: 83%;
   border: 2px solid rgba(42,82,190,1);
   border-radius: 10px;
   box-shadow: 6px 6px 10px #172c66, -4px -4px 5px rgba(42,82,190,0.4);
}

.auth_link:hover {
   scale: 1.07;
   box-shadow: 8px 8px 14px #172c66;
}

.title {
   margin-top: 70px;
   font-family: 'Pacifico', cursive;
   font-size: 85px;
   font-weight: bold;
   text-align: center;
}

#title {
   margin-top: 50px;
}

h1 {
   margin-top: 50px;
   font-size: 28px;
   text-align: center;
   font-weight: normal;
}
