@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
   margin: 0 0;
   padding: 0 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   height: 100%;
   width: 100%;
   background-color: #E8F2FF;
}

.grid-container {
   display: grid;
   grid-template-columns: 3fr 10.4fr;
   grid-template-rows: 3fr 29fr;
   gap: 25px 25px;
   width: 100%;
   height: calc(100vh - 10px);;
}

.userName {
   background-color: #E8F2FF;
   border-radius: 10px;
   padding: 2px 10px;
   padding-right: 0;
   margin-left: 36px;
   margin-top: 31px;
   font-size: 35px;
}

.navBar {
   background-color: #E8F2FF;
   border-radius: 10px;
   padding: 2px 10px;
   padding-left: 0;
   margin-right: 27px;
   margin-top: 25px;
   font-size: 30px;
   text-align: end;
}

.sideNavBar {
   background-color: #f1f1f1;
   border: 1px solid #d1d9e6;
   border-radius: 10px;
   box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px white;
   margin-left: 27px;
   margin-bottom: 15px;
}

.page {
   background-color: #f1f1f1;
   border: 1px solid #d1d9e6;
   border-radius: 10px;
   box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px white;
   margin-right: 27px;
   margin-bottom: 15px;
}

.icons {
   color: #2A52BE;
   text-shadow: 2px 2px 5px #b8b9be;
   height: 28px;
   width: 28px;
}

.iconButton {
   background-color: #f1f1f1;
   margin-left: 25px;
   height: 52px;
   width: 52px;
   border: 1px solid #d1d9e6;
   border-radius: 100%;
   box-shadow: 5px 5px 10px #b8b9be, -6px -6px 10px white;
}

.iconButton:hover {
   scale: 1.07;
   box-shadow: 8px 8px 13px #b8b9be;
}

.pageList {
   border: 0;
   width: 100%;
   text-align: left;
   padding: 10px 18px;
   font-size: 25px;
   background-color: #f1f1f1;
   border-radius: 10px;
   font-weight: bold;
}

.pageList:hover {
   background-color: #2A52BE;
   color: white;
}

.pageName {
   text-align: left;
   font-size: 32px;
   font-weight: bold;
   margin: 25px 25px;
}

.content {
   margin: 25px 25px;
   font-size: 22px;
}

.miscalleneous{
   display: inline-block;
   position: absolute;
   right: 40px;
   top: 72px;
   z-index: 1;
}

.miscalleneousButton {
   outline: 0;
   display: block;
   width: 220px;
   margin-left: 55px;
   margin-top: 26px;
   padding: 10px 15px;
   font-size: 25px;
   color: white;
   background-color: #2A52BE;
   opacity: 79%;
   border: 2px solid rgba(42,82,190,1);
   border-radius: 10px;
   box-shadow: 6px 6px 10px #172c66, -4px -4px 5px rgba(42,82,190,0.4);
}

.miscalleneousButton:hover {
   scale: 1.07;
   box-shadow: 8px 8px 14px #172c66;
}
.addPageInput {
   margin-left: 18px;
}

.addPageButton {
   width: 191px;
   font-size: 30px;
   margin-left: 18px;
}