@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
   margin: 0 0;
   padding: 0 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   background-color: #E8F2FF;
}

.popUpCard{
   display: inline-block;
   position: absolute;
   right: 510px;
   top: 197px;
   background-color: #e1e1e1;
   border: 3px solid black;
   border-radius: 12px;
   width: 500px;
   height: 350px;
   margin: auto;
   z-index: 3;
   box-shadow: 6px 6px 10px #828282, -6px -6px 10px #828282 ;
}

.popUpBackground{
   display: inline-block;
   position: absolute;
   width: calc(100vw);
   height: calc(100vh);
   left: 0;
   top: 0;
   z-index: 2;
   -webkit-backdrop-filter: blur(8px) saturate(180%);
   backdrop-filter: blur(5px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.68);
}

.popUpMessage {
   text-align: center;
   font-size: 36px;
   color: #e0490d;
   padding-top: 65px;
   padding-left: 30px;
   padding-right: 30px;
   font-weight: 700;
}

.popUpButton {
   outline: 0;
   display: inline-block;
   width: 191px;
   position: absolute;
   bottom: 65px;
   left: 155px;
   padding: 10px 25px;
   font-size: 33px;
   color: white;
   background-color: #2A52BE;
   opacity: 79%;
   border: 2px solid rgba(42,82,190,1);
   border-radius: 10px;
   box-shadow: 6px 6px 10px #172c66, -4px -4px 5px rgba(42,82,190,0.4);
}

.popUpButton:hover {
   scale: 1.08;
   box-shadow: 8px 8px 14px #172c66;
}


.popUpForm {
   display: inline-block;
   position: absolute;
   right: 488px;
   top: 150px;
   background-color: #f1f1f1;
   border: 3px solid black;
   border-radius: 12px;
   width: 510px;
   height: 410px;
   margin: auto;
   z-index: 3;
   box-shadow: 6px 6px 10px #828282, -6px -6px 10px #828282 ;
}

.popUpFormButton {
   outline: 0;
   display: inline-block;
   width: 200px;
   position: absolute;
   bottom: 50px;
   padding: 10px 25px;
   font-size: 33px;
   color: white;
   background-color: #2A52BE;
   opacity: 79%;
   border: 2px solid rgba(42,82,190,1);
   border-radius: 10px;
   box-shadow: 6px 6px 10px #172c66, -4px -4px 5px rgba(42,82,190,0.4);
}

.popUpFormButton:hover {
   scale: 1.08;
   box-shadow: 8px 8px 14px #172c66;
}

.popUpInput {
   width: 250px;
   height: 50px;
   text-align: center;
   margin-top: 8px;
   margin-bottom: 5px;
}

input[type="radio"] {
   height: 25px;
   display: inline;
   width: 80px;
   margin-left: 50px;
}

.radioText {
   display: inline-block;
   font-size: 26px;
}

h4 {
   font-size: 30px;
   text-align: center;
   font-weight: 400;
   margin-bottom: 5px;
}